@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* === ROLAGEM SUAVE === */
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #180a12; /* Cor de fundo base para evitar flash branco */
  overflow-x: hidden; /* Evita rolagem lateral indesejada */
}

/* === SCROLLBAR PERSONALIZADA (O Segredo do Luxo) === */
/* Funciona no Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* Mais fina */
}

::-webkit-scrollbar-track {
  background: #12050b; /* Cor do fundo do trilho (bem escuro) */
}

::-webkit-scrollbar-thumb {
  background: #331520; /* Cor da barra (tom vinho escuro discreto) */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e91e63; /* Fica rosa quando passa o mouse */
}

/* === SELEÇÃO DE TEXTO (Highlight) === */
::selection {
  background-color: rgba(233, 30, 99, 0.3); /* Rosa transparente */
  color: white;
}